{% extends "@templates/base.twig" %}

{% block main %}
    {% if edit %}
        <h1 class="text-center">Muuda autorit</h1>
    {% else %}
        <h1 class="text-center">Lisa uus autor</h1>
    {% endif %}

    <form action="/author?cmd=Form" method="post">
        {% if author.id %}
            <input type="hidden" id="id" name="id" value="{{ author.id }}">
        {% endif %}

        {% if edit %}
            <input type="hidden" id="edit" name="edit" value="{{ edit }}">
        {% endif %}

        <table class="form-table">
            <tr>
                <td>
                    <label for="firstName">Eesnimi: </label>
                </td>
                <td>
                    {% if author.firstName %}
                        <input type="text" id="firstName" name="firstName" value="{{ author.firstName }}">
                    {% else %}
                        <input type="text" id="firstName" name="firstName">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="lastName">Perekonnanimi: </label>
                </td>
                <td>
                    {% if author.lastName %}
                        <input type="text" id="lastName" name="lastName" value="{{ author.lastName }}">
                    {% else %}
                        <input type="text" id="lastName" name="lastName">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <label>Hinne: </label>
                </td>
                <td>
                    {% for i in 0..5 %}
                        <label>
                            {% if i == author.grade %}
                                <input type="radio" name="grade" value="{{ i }}" checked="checked">{{ i }}
                            {% else %}
                                <input type="radio" name="grade" value="{{ i }}">{{ i }}
                            {% endif %}
                        </label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td class="button-left">
                    {% if edit %}
                        <input class="is-danger" name="deleteButton" type="submit" value="Kustuta">
                    {% endif %}
                </td>
                <td class="button-right">
                    <input class="is-info" name="submitButton" type="submit" value="Salvesta">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}