{% extends "@templates/base.twig" %}

{% block main %}
    <h1 class="text-center">Autorid</h1>

    <table class="list-table">
        <tr>
            <th>
                Nimi
            </th>
            <th>
                Perekonnanimi
            </th>
            <th>
                Hinne
            </th>
        </tr>

        {% for author in authors %}
            <tr>
                <td>
                    <a href="/author?cmd=Form&id={{ author.id }}&edit=true">
                        {{ author.firstName }}
                    </a>
                </td>
                <td>
                    {{ author.lastName }}
                </td>
                <td>
                    {{ author.grade }}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}