<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link href="/static/css/styles.css" rel="stylesheet">
</head>
<body>

<nav>
    {{ include('@templates/nav.twig') }}
</nav>

{{ include('@templates/message.twig') }}

<main>
    {% block main %}{% endblock %}
</main>

<footer>
    {{ include('@templates/footer.twig') }}
</footer>

</body>
</html>

