{% if errors %}
    <header class="is-danger">
        <div id="error-block">
            {% for error in errors %}
                <p>{{ error }}</p>
            {% endfor %}
        </div>
    </header>
{% endif %}

{% if success %}
    <header class="is-success">
            <div id="message-block">{{ success }}</div>
    </header>
{% endif %}