<a id="book-list-link" href="/book?cmd=List">Raamatud</a><br>
<a id="book-form-link" href="/book?cmd=Form">Lisa raamat</a><br>
<a id="author-list-link" href="/author?cmd=List">Autorid</a><br>
<a id="author-form-link" href="/author?cmd=Form">Lisa autor</a><br>