body {
    font-family: Arial, sans-serif;
    color: #333;

    width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;

    display: grid;
    grid-template-columns: 7rem auto 7rem;
    grid-row-gap: 1rem;
    grid-column-gap: 1rem;
}

nav, header > div, main, footer {
    box-shadow: 3px 3px 10px gray;
    padding: 0.5rem;
}

nav {
    grid-row-start: 2;
    grid-row-end: 3;

    height: 4.35rem;
}

nav a {
    color: black;
    text-decoration: none;
}

header {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    text-align: center;
}

main {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3
}

footer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
}

.form-table {
    margin-left: auto;
    margin-right: auto;
}

.list-table {
    width: 100%;
    border-collapse: collapse;
}

.list-table tr td {
    border: 1px solid #ccc;
}

select {
    width: 100%;
}

input[type='submit'] {
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;

    color: white;
    border: none;
}

.is-info {
    background-color: #007bff;
}

.is-success {
    background-color: #4eec5e9c;
}

.is-danger {
    background-color: #dc35459e;
}

.text-center {
    text-align: center;
}

input[type='radio'] {
    margin: 0px 5px 0px 5px;
}

input[type='text'] {
    width: 96%;
}

.button-right {
    text-align: right;
}

.button-left {
    text-align: left;
}