{% extends "@templates/base.twig" %}

{% block main %}
    <h1 class="text-center">404</h1>
    <h2 class="text-center">
        Could not find page:
        <br>
        {{ page }}
    </h2>
{% endblock %}