{% extends "@templates/base.twig" %}

{% block main %}
    {% if edit %}
        <h1 class="text-center">Muuda raamatut</h1>
    {% else %}
        <h1 class="text-center">Lisa uus raamat</h1>
    {% endif %}

    <form action="/book?cmd=Form" method="post">

        {% if book.id %}
            <input type="hidden" id="id" name="id" value="{{ book.id }}">
        {% endif %}

        {% if edit %}
            <input type="hidden" id="edit" name="edit" value="{{ edit }}">
        {% endif %}

        <table class="form-table">
            <tr>
                <td>
                    <label for="title">Pealkiri: </label>
                </td>
                <td>
                    {% if book.title %}
                        <input type="text" id="title" name="title" value="{{ book.title }}">
                    {% else %}
                        <input type="text" id="title" name="title">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="author1">Autor 1: </label>
                </td>
                <td>
                    <select id="author1" name="author1">
                        <option></option>
                        {% for author in authors %}
                            {% if author.id == book.authors[0].id %}
                                <option selected value="{{ author.id }}">{{ author.firstName }} {{ author.lastName }}</option>
                            {% else %}
                                <option value="{{ author.id }}">{{ author.firstName }} {{ author.lastName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label for="author2">Autor 2: </label>
                </td>
                <td>
                    <select id="author2" name="author2">
                        <option></option>
                        {% for author in authors %}
                            {% if author.id == book.authors[1].id %}
                                <option selected value="{{ author.id }}">{{ author.firstName }} {{ author.lastName }}</option>
                            {% else %}
                                <option value="{{ author.id }}">{{ author.firstName }} {{ author.lastName }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <label>Hinne: </label>
                </td>
                <td>
                    {% for i in 0..5 %}
                        <label>

                        {% if i == book.grade %}
                            <input type="radio" name="grade" value="{{ i }}" checked="checked">{{ i }}
                        {% else %}
                            <input type="radio" name="grade" value="{{ i }}">{{ i }}
                        {% endif %}

                        </label>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td>
                    <label for="isRead">Loetud: </label>
                </td>
                <td>
                    {% if book.isRead %}
                        <input type="checkbox" id="isRead" name="isRead" checked>
                    {% else %}
                        <input type="checkbox" id="isRead" name="isRead">
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td class="button-left">
                    {% if edit %}
                        <input class="is-danger" name="deleteButton" type="submit" value="Kustuta">
                    {% endif %}
                </td>
                <td class="button-right">
                    <input class="is-info " name="submitButton" type="submit" value="Salvesta">
                </td>
            </tr>
        </table>
    </form>
{% endblock %}