{% extends "@templates/base.twig" %}

{% block main %}
    <h1 class="text-center">Raamatud</h1>

    <table class="list-table">
        <tr>
            <th>
                <a>Pealkiri</a>
            </th>
            <th>
                Autorid
            </th>
            <th>
                Hinne
            </th>
        </tr>
        {% for book in books %}
        <tr>
            <td>
                <a href="/book?cmd=Form&id={{ book.id }}&edit=true">
                    {{ book.title }}
                </a>
            </td>
            <td>
                {{ book.authors|map(a => "#{a.firstName} #{a.lastName}")|join(', ') }}
            </td>
            <td>
                {{ book.grade }}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}